*{
      font-family: 'poppins', sans-serif;
      margin: 0;
      padding: 0;

}

body{
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      flex-direction: column;
      text-align: center;
      background-image: url(img-1.jpg);
      text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
p{
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
      letter-spacing: 7px;
      color: aqua;
}
.newyear{
      color: fuchsia;
      margin-top: 10px;
      font-size: 40px;
      font-family: Inspiration, cursive;
      font-weight: 400;
      font-style: normal;
}
.counter{
      color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 30px;
}
.box{
      width: 80px;
}
small{
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nxt-yr{
      margin-top: 20px;
      font-size: 50px;
      color: fuchsia;
      letter-spacing: 4px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#days{
      font-size: 40px;
}
#hours{
      font-size: 40px;
}
#minutes{
      font-size: 40px;
}
#seconds{
      font-size: 40px;
}
